{% extends "base.html" %}
{% block content%}
<form method="post" enctype="multipart/form-data">
    {%csrf_token%}
    <div class="row">
        <div class="title col-md-12">
            <label class="form-label">Blog Title:</label>
            <input type="text" name="title" required class="form-control">
        </div>
        <div class="title col-md-12" style="margin-top:20px;">
            {{form.media}}
            {{form.as_p}}
            <div>
            </div>

            <input type="file" name="image" required class="form-control">
            <button type="submit" class="btn btn-success" style="margin-top:20px;">Submit</button>
</form>
{%endblock%}